@import "tailwindcss";
/* Hide scrollbar but allow scrolling */

/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* IE / old Edge */
.no-scrollbar {
  -ms-overflow-style: none;
}